{% extends 'main/base.html.twig' %}

{% block document_title %}Главная страница{% endblock %}
{% block page_title %}Главная страница{% endblock %}

{% block page_content %}
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="row" style="margin-top: 20%; text-align: center">
            <p>
                Раздел пока находится в процессе разработки.
            </p>
        </div>
    </div>
{% endblock %}